$breakpointMobile: 360px;
$breakpointTablet: 768px;
$breakpointDesktop: 1024px;

$container: 1200px;

$screenMobile: 'all and (max-width: #{$breakpointMobile})';
$screenTablet: 'all and (max-width: #{$breakpointTablet})';
$screenDesktop: 'all and (max-width: #{$breakpointDesktop})';

$userListGapLarge: 30px;
$userListGapSmall: 16px;

$isMouseDevice: '(pointer: fine)';